.DS_Store
.DS_Store?
build/*
node_modules/*
third_party/*
test/data/*
tools/metadata/testenv/*
package-lock.json
*.pyc

# extra
*.pb
python_scripts/build/*
python_scripts/dist/*
python_scripts/*.spec
.*
.vscode/settings.json
custom_json/*
